@import "tailwindcss";
@theme {
  --color-primary: #7d58c2;
  --color-secondary: #181310;
}

:root[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
}

:root[data-theme="dark"] {
  --bg-color: #111827;
  --text-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}